.DS_Store
totdev.xcodeproj/project.xcworkspace/*
totdev.xcodeproj/xcuserdata/*.xcuserdatad/
totdev/Utility/AviaryDemo/AviaryDemo-iOS.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
totdev/Utility/AviaryDemo/AviaryDemo-iOS.xcodeproj/project.xcworkspace/xcuserdata
