<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accentGradientTopColor</key>
	<dict>
		<key>hex</key>
		<string>#00baff</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>accentGradientBottomColor</key>
	<dict>
		<key>hex</key>
		<string>#1a88ff</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>bottomBarColor</key>
	<dict>
		<key>hex</key>
		<string>#303740</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>bottomBarOuterStrokeColor</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>bottomBarInnerStrokeColor</key>
	<dict>
		<key>hex</key>
		<string>#474953</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>cancelButtonStrokeColor</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>alpha</key>
		<string>0.75</string>
	</dict>
	<key>cancelButtonInnerShadowColor</key>
	<dict>
		<key>hex</key>
		<string>#ffffff</string>
		<key>alpha</key>
		<string>0.4f</string>
	</dict>
	<key>textColor</key>
	<dict>
		<key>hex</key>
		<string>#ffffff</string>
		<key>alpha</key>
		<string>1.f</string>
	</dict>
	<key>applyButtonInnerShadowColor</key>
	<dict>
		<key>hex</key>
		<string>#ffffff</string>
		<key>alpha</key>
		<string>1.0f</string>
	</dict>
	<key>applyButtonStrokeColor</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>alpha</key>
		<string>0.75</string>
	</dict>
	<key>defaultIconDropShadowColor</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>defaultIconGradientBottomColor</key>
	<dict>
		<key>hex</key>
		<string>#BBCEDF</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>defaultIconGradientTopColor</key>
	<dict>
		<key>hex</key>
		<string>#E8EEF4</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>defaultIconInnerShadowColor</key>
	<dict>
		<key>hex</key>
		<string>#ffffff</string>
		<key>alpha</key>
		<string>0.75</string>
	</dict>
	<key>defaultIconStrokeColor</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>highlightedIconInnerShadowColor</key>
	<dict>
		<key>hex</key>
		<string>#ffffff</string>
		<key>alpha</key>
		<string>0.75</string>
	</dict>
	<key>highlightedIconStrokeColor</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>handleColor</key>
	<dict>
		<key>hex</key>
		<string>#e3e9ec</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>handleBezelGradientTopColor</key>
	<dict>
		<key>hex</key>
		<string>#ffffff</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>handleBezelGradientBottomColor</key>
	<dict>
		<key>hex</key>
		<string>#b6c2cb</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>handleStrokeColor</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>handleShadowColor</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>galleryListCore</key>
	<dict>
		<key>hex</key>
		<string>#303840</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>galleryListInnerStroke</key>
	<dict>
		<key>hex</key>
		<string>#454c53</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>galleryListOuterStroke</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>galleryListArrowCore</key>
	<dict>
		<key>hex</key>
		<string>#18191D</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>galleryListArrowInnerStroke</key>
	<dict>
		<key>hex</key>
		<string>#000000</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
	<key>galleryListArrowOuterStroke</key>
	<dict>
		<key>hex</key>
		<string>#2F353C</string>
		<key>alpha</key>
		<string>1.0</string>
	</dict>
</dict>
</plist>
